#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$uCZ2Y52M$Y85ry23neZEJzLl4pMRJv.
# System language
lang en_US
# Reboot after installation
reboot
# System timezone
timezone America/Chicago
# Use text mode install
text
# System authorization information
auth  --useshadow  --passalgo=sha512
# Firewall configuration
firewall --disabled
# Use CDROM installation media
cdrom
firstboot --disable
# SELinux configuration
selinux --enforcing

# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all
# Disk partitioning information
part / --asprimary --fstype="ext4" --grow --ondisk=sda --size=1
